## Importing library

In [1]:
library(car)

Loading required package: carData

In [2]:
home_dir = normalizePath("~")
relative_path = file.path("R programs")
full_path = file.path(home_dir, relative_path)
full_path

[1] "C:\\Users\\Anil\\Documents/R programs"

In [3]:
setwd(full_path)

## For some NA values Opening OIL csv
data = read.csv("Data/store-forecasting/oil.csv")
dim(data)

brief(data)
### head
head(data)
### Send more data using head .csv
head(data, 8)

### Checking Column names
colnames(data)
### Changing Columns names
colnames(data)[2] = "idk"
colnames(data)[1:2]  = c("date", "dcoilwtico")
colnames(data)
### Cleaning Observations
X = c(0,NA,2 ,3,4,-0.5)
!is.na(NA) 
X>2 & !is.na(X)
is.nan(0/0)
is.infinite(1/0)


data_1 = data
data_1[1000,1] = NA
data_1[1000,2] = NA

[1] 1218    2

1218 x 2 data.frame (1213 rows omitted)
           date dcoilwtico
            [c]        [n]
1    2013-01-01         NA
2    2013-01-02      93.14
3    2013-01-03      92.97
. . .
1217 2017-08-30      45.96
1218 2017-08-31      47.26

  date       dcoilwtico
1 2013-01-01    NA
2 2013-01-02 93.14
3 2013-01-03 92.97
4 2013-01-04 93.12
5 2013-01-07 93.20
6 2013-01-08 93.21

  date       dcoilwtico
1 2013-01-01    NA
2 2013-01-02 93.14
3 2013-01-03 92.97
4 2013-01-04 93.12
5 2013-01-07 93.20
6 2013-01-08 93.21
7 2013-01-09 93.08
8 2013-01-10 93.81

[1] "date"       "dcoilwtico"

[1] "date"       "dcoilwtico"

[1] FALSE

[1] FALSE FALSE FALSE  TRUE  TRUE FALSE

[1] TRUE

[1] TRUE

* Summing all the NA obervation after creating em

In [4]:
sum(is.na(data_1))
### Checking vs originnal data
sum(is.na(data))
### replacing all the an observations with zero
sum(is.na((na.omit(data_1))))

[1] 45

[1] 43

[1] 0

In [5]:
head(Freedman)

            population nonwhite density crime
Akron        675        7.3      746    2602
Albany       713        2.6      322    1388
Albuquerque   NA        3.3       NA    5018
Allentown    534        0.8      491    1182
Anaheim     1261        1.4     1612    3341
Atlanta     1330       22.8      770    2805

In [8]:
DF = data.frame(a = c(NA, 1, 2), b = c("one", NA, "three"))
DF
subset(DF, !is.na(a))
subset(DF, !is.na(b))
subset(DF,complete.cases(DF))
na.omit(DF)

  a  b
1 NA one
2  1 NA
3  2 three

  a b
2 1 NA
3 2 three

  a  b
1 NA one
3  2 three

  a b
3 2 three

  a b
3 2 three

In [10]:
head(Freedman)
str(Freedman)
summary(Freedman)

            population nonwhite density crime
Akron        675        7.3      746    2602
Albany       713        2.6      322    1388
Albuquerque   NA        3.3       NA    5018
Allentown    534        0.8      491    1182
Anaheim     1261        1.4     1612    3341
Atlanta     1330       22.8      770    2805

'data.frame':	110 obs. of  4 variables:
 $ population: int  675 713 NA 534 1261 1330 331 1981 315 305 ...
 $ nonwhite  : num  7.3 2.6 3.3 0.8 1.4 22.8 7 21.6 20.7 0.6 ...
 $ density   : int  746 322 NA 491 1612 770 41 877 240 147 ...
 $ crime     : int  2602 1388 5018 1182 3341 2805 3306 4256 2117 1063 ...

   population         nonwhite        density            crime
 Min.   :  270.0   Min.   : 0.30   Min.   :   37.0   Min.   : 458
 1st Qu.:  398.8   1st Qu.: 3.40   1st Qu.:  266.5   1st Qu.:2067
 Median :  664.0   Median : 7.20   Median :  412.0   Median :2698
 Mean   : 1136.0   Mean   :10.80   Mean   :  765.7   Mean   :2714
 3rd Qu.: 1167.8   3rd Qu.:14.88   3rd Qu.:  773.2   3rd Qu.:3305
 Max.   :11551.0   Max.   :64.30   Max.   :13087.0   Max.   :5441
 NA's   :10                        NA's   :10

* Below is the example of median function throwing NA becoz of NA values being present

In [12]:
median(Freedman$density)

[1] NA

* Treating the NA error by removing the na values

In [14]:
median(Freedman$density, na.rm = T)

[1] 412

* Doing same with mean

In [15]:
mean(Freedman$density)
mean(Freedman$density,na.rm = T)

[1] NA

[1] 765.67

In [16]:
### Rows of Data are removed which means a obervation has NA in column the entire observartion is removed using na.omit
Freedman.good = na.omit(Freedman)   
summary(Freedman.good)

   population         nonwhite        density            crime
 Min.   :  270.0   Min.   : 0.30   Min.   :   37.0   Min.   : 458
 1st Qu.:  398.8   1st Qu.: 3.40   1st Qu.:  266.5   1st Qu.:2100
 Median :  664.0   Median : 7.30   Median :  412.0   Median :2762
 Mean   : 1136.0   Mean   :10.66   Mean   :  765.7   Mean   :2733
 3rd Qu.: 1167.8   3rd Qu.:14.82   3rd Qu.:  773.2   3rd Qu.:3318
 Max.   :11551.0   Max.   :64.30   Max.   :13087.0   Max.   :5441

In [19]:
Freedman_notav = Freedman[!complete.cases(Freedman),]
Freedman_notav

                population nonwhite density crime
Albuquerque     NA          3.3     NA      5018
Charleston.SC   NA         38.5     NA      2482
Charleston.W.VA NA          5.8     NA      1434
Columbia        NA         29.0     NA      2884
Des.Moines      NA          4.1     NA      2415
Erie            NA          2.8     NA      1181
Greenville      NA         16.3     NA      2602
Huntington      NA          3.0     NA      1413
trenton         NA         12.9     NA      3098
Tucson          NA          6.3     NA      2705

### "Using R" Library

In [21]:
library(UsingR)
x = babies$dwt
summary(x)
x[x==999]= NA
range(x)
summary(x)
range(x, na.rm = T)

Loading required package: MASS

Loading required package: HistData

Loading required package: Hmisc


Attaching package: 'Hmisc'


The following objects are masked from 'package:base':

    format.pval, units

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  110.0   165.0   190.0   505.4   999.0   999.0

[1] NA NA

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
  110.0   155.0   170.0   171.2   185.0   260.0     499

[1] 110 260

### Remvoal of non unique values

In [26]:
## Reusing the data created above (it hall all unique columns)
head(data)
data_2 =data
dim(data_2)
data_3  = rbind.data.frame(data_2, data[1:500, ])
dim(data_3)

  date       dcoilwtico
1 2013-01-01    NA
2 2013-01-02 93.14
3 2013-01-03 92.97
4 2013-01-04 93.12
5 2013-01-07 93.20
6 2013-01-08 93.21

[1] 1218    2

[1] 1718    2

In [31]:
data_4 = unique(data_3)
dim(data_4) ## only unique values got copied

[1] 1218    2

## Handling DataFrames

### Selection of Coumns and rows

In [32]:
head(iris)
iris[,3]
head(iris[,3])

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

  [1] 1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 1.5 1.6 1.4 1.1 1.2 1.5 1.3 1.4
 [19] 1.7 1.5 1.7 1.5 1.0 1.7 1.9 1.6 1.6 1.5 1.4 1.6 1.6 1.5 1.5 1.4 1.5 1.2
 [37] 1.3 1.4 1.3 1.5 1.3 1.3 1.3 1.6 1.9 1.4 1.6 1.4 1.5 1.4 4.7 4.5 4.9 4.0
 [55] 4.6 4.5 4.7 3.3 4.6 3.9 3.5 4.2 4.0 4.7 3.6 4.4 4.5 4.1 4.5 3.9 4.8 4.0
 [73] 4.9 4.7 4.3 4.4 4.8 5.0 4.5 3.5 3.8 3.7 3.9 5.1 4.5 4.5 4.7 4.4 4.1 4.0
 [91] 4.4 4.6 4.0 3.3 4.2 4.2 4.2 4.3 3.0 4.1 6.0 5.1 5.9 5.6 5.8 6.6 4.5 6.3
[109] 5.8 6.1 5.1 5.3 5.5 5.0 5.1 5.3 5.5 6.7 6.9 5.0 5.7 4.9 6.7 4.9 5.7 6.0
[127] 4.8 4.9 5.6 5.8 6.1 6.4 5.6 5.1 5.6 6.1 5.6 5.5 4.8 5.4 5.6 5.1 5.1 5.9
[145] 5.7 5.2 5.0 5.2 5.4 5.1

[1] 1.4 1.4 1.3 1.5 1.4 1.7

* Extracting specific columns (here  3 and 5)
* Extracting specific rows
* EXtract using column names

In [35]:
head(iris[, c(3,5)])
iris[c(4:10), c(3:5)]
head(iris[, c("Species", "Petal.Length")])

  Petal.Length Species
1 1.4          setosa
2 1.4          setosa
3 1.3          setosa
4 1.5          setosa
5 1.4          setosa
6 1.7          setosa

   Petal.Length Petal.Width Species
4  1.5          0.2         setosa
5  1.4          0.2         setosa
6  1.7          0.4         setosa
7  1.4          0.3         setosa
8  1.5          0.2         setosa
9  1.4          0.2         setosa
10 1.5          0.1         setosa

  Species Petal.Length
1 setosa  1.4
2 setosa  1.4
3 setosa  1.3
4 setosa  1.5
5 setosa  1.4
6 setosa  1.7

### Creation of new variables in a DataFrame

In [36]:
iris$Petal.Ratio = iris$Petal.Length / iris$Petal.Width
iris$Sepal.Ratio = iris$Sepal.Length / iris$Sepal.Width
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species Petal.Ratio
1 5.1          3.5         1.4          0.2         setosa  7.00
2 4.9          3.0         1.4          0.2         setosa  7.00
3 4.7          3.2         1.3          0.2         setosa  6.50
4 4.6          3.1         1.5          0.2         setosa  7.50
5 5.0          3.6         1.4          0.2         setosa  7.00
6 5.4          3.9         1.7          0.4         setosa  4.25
  Sepal.Ratio
1 1.457143
2 1.633333
3 1.468750
4 1.483871
5 1.388889
6 1.384615

### Extracting Observations and summarizing them
**Extracting**
1. Direct Method
2. Using subset

**Summarizing**
1. brief
2. summary
3. str    (means Structure)
4. summarise (Requires Library:- dplyr)

In [40]:
iris[iris$Petal.Width>0.5 & iris$Species== "setosa",]
subset(iris,Petal.Width>0.5 & Species == "setosa")

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species Petal.Ratio
44 5            3.5         1.6          0.6         setosa  2.666667
   Sepal.Ratio
44 1.428571

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species Petal.Ratio
44 5            3.5         1.6          0.6         setosa  2.666667
   Sepal.Ratio
44 1.428571

In [44]:
library(dplyr)
summary(iris)
str(iris)
brief(iris)
summarise(iris,Petal.Length =   mean(Petal.Length),
            ,Sepal.Length =   mean(Sepal.Length)
            ,Petal.Width = mean(Petal.Width)
            ,Sepal.width =   mean(Sepal.Width))

Attaching package: 'dplyr'


The following objects are masked from 'package:Hmisc':

    src, summarize


The following object is masked from 'package:MASS':

    select


The following object is masked from 'package:car':

    recode


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species    Petal.Ratio      Sepal.Ratio
 setosa    :50   Min.   : 2.125   Min.   :1.268
 versicolor:50   1st Qu.: 2.802   1st Qu.:1.546
 virginica :50   Median : 3.300   Median :2.032
                 Mean   : 4.311   Mean   :1.954
                 3rd Qu.: 4.667   3rd Qu.:2.225
                 Max.   :15.000   Max.   :2.962

'data.frame':	150 obs. of  7 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ Petal.Ratio : num  7 7 6.5 7.5 7 ...
 $ Sepal.Ratio : num  1.46 1.63 1.47 1.48 1.39 ...
150 x 7 data.frame (145 rows and 2 columns omitted)
    Sepal.Length Sepal.Width Petal.Length . . . Petal.Ratio Sepal.Ratio
             [n]         [n]          [n]               [n]         [n]
1            5.1         3.5          1.4          7.000000    1.457143
2            4.9         3.0          1.4          7.000000    1.633333
3            4.7         3.2          1.3          6.500000    1.468750
. . .
149          6.2         3.4          5.4          2.347826    1.823529
150          5.9         3.0          5.1          2.833333    1.966667

  Petal.Length Sepal.Length Petal.Width Sepal.width
1 3.758        5.843333     1.199333    3.057333

### Working with DataFrames

In [51]:
library(car)
dim(Davis)
head(Davis)
output = data.frame(matrix(nrow = dim(Davis)[1], ncol = dim(Davis)[2]))
colnames(output) = c("Gender", "Wt", "Ht", "Repwt", "Repht")
dim(output)
head(output)

[1] 200   5

  sex weight height repwt repht
1 M   77     182    77    180
2 F   58     161    51    159
3 F   53     161    54    158
4 M   68     177    70    175
5 F   59     157    59    155
6 M   76     170    76    165

[1] 200   5

  Gender Wt Ht Repwt Repht
1 NA     NA NA NA    NA
2 NA     NA NA NA    NA
3 NA     NA NA NA    NA
4 NA     NA NA NA    NA
5 NA     NA NA NA    NA
6 NA     NA NA NA    NA

In [52]:
output$Gender = Davis$sex
output$Wt  = Davis$weight
output$Ht = Davis$height
output$Repwt = Davis$repwt
output$Repht = Davis$repht 
head(output)

  Gender Wt Ht  Repwt Repht
1 M      77 182 77    180
2 F      58 161 51    159
3 F      53 161 54    158
4 M      68 177 70    175
5 F      59 157 59    155
6 M      76 170 76    165

### Working with *Factor* Variables