## Importing library

In [1]:
library(car)

Loading required package: carData

In [4]:
setwd("C:/Users/Anil/Documents/R programs")


## For some NA values Opening OIL csv
data = read.csv("Data/store-forecasting/oil.csv")
dim(data)

brief(data)
### head
head(data)
### Send more data using head .csv
head(data, 8)

### Checking Column names
colnames(data)
### Changing Columns names
colnames(data)[2] = "idk"
colnames(data)[1:2]  = c("date", "dcoilwtico")
colnames(data)
### Cleaning Observations
X = c(0,NA,2 ,3,4,-0.5)
!is.na(NA) 
X>2 & !is.na(X)
is.nan(0/0)
is.infinite(1/0)


data_1 = data
data_1[1000,1] = NA
data_1[1000,2] = NA

[1] 1218    2

1218 x 2 data.frame (1213 rows omitted)
           date dcoilwtico
            [c]        [n]
1    2013-01-01         NA
2    2013-01-02      93.14
3    2013-01-03      92.97
. . .
1217 2017-08-30      45.96
1218 2017-08-31      47.26

  date       dcoilwtico
1 2013-01-01    NA
2 2013-01-02 93.14
3 2013-01-03 92.97
4 2013-01-04 93.12
5 2013-01-07 93.20
6 2013-01-08 93.21

  date       dcoilwtico
1 2013-01-01    NA
2 2013-01-02 93.14
3 2013-01-03 92.97
4 2013-01-04 93.12
5 2013-01-07 93.20
6 2013-01-08 93.21
7 2013-01-09 93.08
8 2013-01-10 93.81

[1] "date"       "dcoilwtico"

[1] "date"       "dcoilwtico"

[1] FALSE

[1] FALSE FALSE FALSE  TRUE  TRUE FALSE

[1] TRUE

[1] TRUE

* Summing all the NA obervation after creating em

In [3]:
sum(is.na(data_1))
### Checking vs originnal data
sum(is.na(data))
### replacing all the an observations with zero
sum(is.na((na.omit(data_1))))

[1] 45

[1] 43

[1] 0

In [4]:
head(Freedman)

            population nonwhite density crime
Akron        675        7.3      746    2602
Albany       713        2.6      322    1388
Albuquerque   NA        3.3       NA    5018
Allentown    534        0.8      491    1182
Anaheim     1261        1.4     1612    3341
Atlanta     1330       22.8      770    2805

In [7]:
DF = data.frame(a = c(NA, 1, 2), b = c("one", NA, "three"))
DF
subset(DF, !is.na(a))
subset(DF, !is.na(b))
subset(DF,complete.cases(DF))
na.omit()

  a  b
1 NA one
2  1 NA
3  2 three

  a b
2 1 NA
3 2 three

  a  b
1 NA one
3  2 three

In [10]:
head(Freedman)
str(Freedman)
summary(Freedman)
rm(Freedman)

            population nonwhite density crime
Akron        675        7.3      746    2602
Albany       713        2.6      322    1388
Albuquerque   NA        3.3       NA    5018
Allentown    534        0.8      491    1182
Anaheim     1261        1.4     1612    3341
Atlanta     1330       22.8      770    2805

'data.frame':	110 obs. of  4 variables:
 $ population: int  675 713 NA 534 1261 1330 331 1981 315 305 ...
 $ nonwhite  : num  7.3 2.6 3.3 0.8 1.4 22.8 7 21.6 20.7 0.6 ...
 $ density   : int  746 322 NA 491 1612 770 41 877 240 147 ...
 $ crime     : int  2602 1388 5018 1182 3341 2805 3306 4256 2117 1063 ...

   population         nonwhite        density            crime
 Min.   :  270.0   Min.   : 0.30   Min.   :   37.0   Min.   : 458
 1st Qu.:  398.8   1st Qu.: 3.40   1st Qu.:  266.5   1st Qu.:2067
 Median :  664.0   Median : 7.20   Median :  412.0   Median :2698
 Mean   : 1136.0   Mean   :10.80   Mean   :  765.7   Mean   :2714
 3rd Qu.: 1167.8   3rd Qu.:14.88   3rd Qu.:  773.2   3rd Qu.:3305
 Max.   :11551.0   Max.   :64.30   Max.   :13087.0   Max.   :5441
 NA's   :10                        NA's   :10

Warning message in rm(Freedman):
"object 'Freedman' not found"

* Below is the example of median function throwing NA becoz of NA values being present

In [13]:
median(Freedman$density)

[1] NA

* Treating the NA error by removing the na values

In [ ]:
median(Freedman)